<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .comment_form {
            display: flex;
            width: 200px;
            height: 30px;
        }
        .comment_form input:not(:last-child) {
            flex: 1;
        }
    </style>
</head>
<body>
<th:block th:replace="common/header.html :: header"></th:block>
    <h2>글상세화면</h2>
    <table>
        <tr>
            <th>제목</th>
            <td colspan="2" th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr th:if="${board.boardCreatedTime}">
            <th>마지막수정일</th>
            <td th:text="*{#temporals.format(board.boardUpdatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th>조회수</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.boardFileName}">
            <th>첨부파일</th>
            <td><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100"></td>
        </tr>
    </table>
    <div th:if="${#strings.equals(session.loginEmail, board.boardWriter)}">
        <div th:if="${session.loginEmail.toString().equals('admin')}">
            <button th:onclick="boardDelete()">삭제</button>
            <button th:onclick="goBack([[${page}]])">글목록</button>
        </div>
        <div th:unless="${session.loginEmail.toString().equals('admin')}">
            <button th:onclick="boardUpdate()">수정</button>
            <button th:onclick="boardDelete()">삭제</button>
            <button th:onclick="goBack([[${page}]])">글목록</button>
        </div>
    </div>
    <div th:unless="${#strings.equals(session.loginEmail, board.boardWriter)}">
        <button th:onclick="goBack([[${page}]])">글목록</button>
    </div>

    <h2>댓글</h2>
    <div class="comment_form">
        <input type="text" id="commentContents">
        <input type="button" th:onclick="commentSave()" value="등록">
    </div>
    <div id="comment_list">
        <table>
            <tr>
                <th>댓글번호</th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성일</th>
                <th></th>
            </tr>
            <tr th:each="comment: ${commentList}">
                <td th:text="${comment.id}"></td>
                <td th:text="${comment.commentWriter}"></td>
                <td th:text="${comment.commentContents}"></td>
                <td th:text="${comment.commentCreatedTime}"></td>
                <td th:if="${session.loginEmail.toString().equals('admin')}">
                    <button th:onclick="commentDelete([[${comment.id}]])">삭제</button>
                </td>
                <td th:if="${#strings.equals(session.loginEmail, comment.commentWriter) and !session.loginEmail.toString().equals('admin')}">
                    <button th:onclick="commentDelete([[${comment.id}]])">삭제</button>
                </td>
            </tr>
        </table>
    </div>
</body>
<script th:inline="javascript">
    const goBack = (page) => {
        location.href = "/board?page=" + page;
    }

    const boardDelete = () => {
        const id = [[${board.id}]];
        if (confirm("글을 삭제하시겠습니까?")) {
            location.href = "/board/delete/" + id;
        }
    }

    const boardUpdate = () => {
        const id = [[${board.id}]];
        location.href = "/board/update-form/" + id;
    }

    const commentSave = () => {
        const boardId = [[${board.id}]];
        const commentWriter = [[${session.loginEmail}]];
        const commentContents = document.querySelector("#commentContents").value;
        const commentList = document.getElementById("comment_list");

        $.ajax({
            type: "post",
            url: "/comment/save",
            data: {"boardId": boardId, "commentWriter": commentWriter, "commentContents": commentContents},
            dataType: "json",
            success: function (result) {
                let output = '';
                    output += '<table><tr>'
                            + '<th>댓글번호</th>'
                            + '<th>작성자</th>'
                            + '<th>내용</th>'
                            + '<th>작성일</th><th></th></tr>';

                for (let i in result) {
                    output += '<tr><td>' + result[i].id + '</td>'
                            + '<td>' + result[i].commentWriter + '</td>'
                            + '<td>' + result[i].commentContents + '</td>'
                            + '<td>' + result[i].commentCreatedTime + '</td>';
                            if (commentWriter == 'admin') {
                                output += '<td>' + '<button onclick="commentDelete(' + result[i].id + ')">삭제</button></td>';
                            }
                            if (commentWriter == result[i].commentWriter && commentWriter != ('admin')) {
                                output += '<td>' + '<button onclick="commentDelete(' + result[i].id + ')">삭제</button></td>';
                            }
                            output += '</div></tr>';

                }
                output += '</table>';

                commentList.innerHTML = output;
                document.getElementById("commentContents").value = "";
            }
        });
    }

    const commentDelete = (id) => {
        const boardId = [[${board.id}]];
        const commentWriter = [[${session.loginEmail}]];
        const commentList = document.getElementById("comment_list");

        $.ajax({
            type: "get",
            url: "/comment/" + id,
            dataType: "json",
            data: {"boardId": boardId},
            success: function (result) {
                let output = '';
                output += '<table><tr>'
                    + '<th>댓글번호</th>'
                    + '<th>작성자</th>'
                    + '<th>내용</th>'
                    + '<th>작성일</th><th></th></tr>';

                for (let i in result) {
                    output += '<tr><td>' + result[i].id + '</td>'
                        + '<td>' + result[i].commentWriter + '</td>'
                        + '<td>' + result[i].commentContents + '</td>'
                        + '<td>' + result[i].commentCreatedTime + '</td>';
                    if (commentWriter == 'admin') {
                        output += '<td>' + '<button onclick="commentDelete(' + result[i].id + ')">삭제</button></td>';
                    }
                    if (commentWriter == result[i].commentWriter && commentWriter != ('admin')) {
                        output += '<td>' + '<button onclick="commentDelete(' + result[i].id + ')">삭제</button></td>';
                    }
                    output += '</div></tr>';

                }
                output += '</table>';

                commentList.innerHTML = output;
                document.getElementById("commentContents").value = "";
            }
        });
    }
</script>
</html>