<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<th:block th:replace="common/header :: header"></th:block>
<div class="container col-9">
    <h2>글목록</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">글번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.id}"></td>
            <td th:onclick="boardDetail([[${board.id}]])" th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.boardHits}"></td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=1)}"><<</a>
            </li>

            <li th:class="${boardList.first} ? 'disabled'" class="page-item">
                <a class="page-link" th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number})}">이전</a>
            </li>

            <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                th:class="${page == boardList.number + 1} ? 'page-item active'" class="page-item">
                <a class="page-link" th:text="${page}" th:href="@{/board(page=${page})}"></a>
            </li>

            <li th:class="${boardList.last} ? 'disabled'">
                <a class="page-link" th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2})}">다음</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=${boardList.totalPages})}">>></a>
            </li>

        </ul>
    </div>
</div>
</body>
<script th:inline="javascript">
    const boardDetail = (id) => {
        const page = [[${boardList.number}]] + 1;
        location.href = "/board/detail?page=" + page + "&id=" + id;
    }
</script>
</html>