<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="common/header.html :: header"></th:block>
    <h2>마이페이지</h2>
    <table>
        <tr>
            <th>프로필</th>
            <td th:if="${member.memberProfileName}">
                <img th:src="@{|/upload/${member.memberProfileName}|}" width="100" height="100">
            </td>
            <td th:unless="${member.memberProfileName}">
                없음
            </td>
        </tr>
        <tr>
            <th>이메일</th>
            <td th:text="${member.memberEmail}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${member.memberName}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${member.memberMobile}"></td>
        </tr>
    </table>

    <button th:if="${session.loginEmail} and ${!session.loginEmail.toString().equals('admin')}"
            th:onclick="memberUpdate()">정보수정</button>
    <button th:onclick="memberDelete()">회원탈퇴</button>
</body>
<script th:inline="javascript">
    const memberUpdate = () => {
        const id = [[${member.id}]];
        location.href = "/member/update-form/" + id;
    }

    const memberDelete = () => {
        const id = [[${member.id}]];
        if (confirm("탈퇴(삭제)하시겠습니까?")) {
            alert("탈퇴(삭제) 되었습니다.");
            location.href = "/member/delete/" + id;
        }
    }
</script>
</html>